## Create the grades conversor using a new class

In this notebook I show how the class works

In [1]:
from lib.grades_class import *
from lib import climb_jor

In [2]:
routes = pd.read_csv('../data/routes_rated.csv',low_memory=False, index_col=0)
routes.head(2)

,name_id,country,crag,sector,name,tall_recommend_sum,grade_mean,cluster,rating_tot
0,0,and,montserrat,prohibitivo,diagonal de la x,-1,49.25,3,-0.045211
1,1,and,montserrat,prohibitivo,mehir,-1,49.00,2,0.116464

Instance the class

In [3]:
gr = Grades()

In [15]:
df = climb_jor.Sector_search(routes,'vermell')
df.head(3)

,name_id,country,crag,sector,name,tall_recommend_sum,grade_mean,cluster,rating_tot
12586,12586,esp,cavallers,vermell,bajame una estrella,0,59.000000,1,0.439815
18829,18829,esp,montserrat,vermell,a dreta santa claus,2,51.000000,0,-0.085108
18830,18830,esp,montserrat,vermell,a igualada tambe sescala,0,54.666667,0,-0.085108

In [16]:
df2 = df.copy()
df2['grade_fra'] = df2.grade_mean.apply(lambda x: gr.get_fra(round(x,0)))
df2[['grade_fra','grade_mean','name']].head(3)

      grade_fra  grade_mean                      name
12586       7c+   59.000000       bajame una estrella
18829       7a+   51.000000       a dreta santa claus
18830       7b+   54.666667  a igualada tambe sescala

You can also retrieve the grades info

In [17]:
gr.get_fra(64)

'8a+/8b'

In [18]:
gr.get_grade_id('8a')

61

In [19]:
gr.get_grades_fra()

['5a',
 '5b',
 '5c',
 '6a',
 '6a+',
 '6b',
 '6b+',
 '6c',
 '6c+',
 '7a',
 '7a+',
 '7b',
 '7b+',
 '7c',
 '7c+',
 '8a',
 '8a+',
 '8b',
 '8b+',
 '8c',
 '8c+',
 '9a',
 '9a+',
 '9b',
 '9b+']

In [25]:
pd.set_option('display.max_rows', None)
gr.conversion_table

    grade_id grade_fra
0          0         -
1          1         -
2          2         -
3          3         1
4          4        1a
5          5        1b
6          6        1c
7          7        1+
8          8         2
9          9        2a
10        10        2b
11        11        2c
12        12        2+
13        13         3
14        14        3a
15        15       3a+
16        16        3b
17        17       3b+
18        18        3c
19        19       3c+
20        20        3+
21        21         4
22        22        4a
23        23       4a+
24        24        4b
25        25       4b+
26        26        4c
27        27       4c+
28        28        4+
29        29         5
30        30        5a
31        31       5a+
32        32        5b
33        33       5b+
34        34        5c
35        35       5c+
36        36         6
37        37        6a
38        38      6a/+
39        39       6a+
40        40    6a+/6b
41        41        6b
42        42      6b/+
43        43       6b+
44        44    6b+/6c
45        45        6c
46        46      6c/+
47        47       6c+
48        48    6c+/7a
49        49        7a
50        50      7a/+
51        51       7a+
52        52    7a+/7b
53        53        7b
54        54      7b/+
55        55       7b+
56        56    7b+/7c
57        57        7c
58        58      7c/+
59        59       7c+
60        60    7c+/8a
61        61        8a
62        62      8a/+
63        63       8a+
64        64    8a+/8b
65        65        8b
66        66      8b/+
67        67       8b+
68        68    8b+/8c
69        69        8c
70        70      8c/+
71        71       8c+
72        72    8c+/9a
73        73        9a
74        74      9a/+
75        75       9a+
76        76    9a+/9b
77        77        9b
78        78      9b/+
79        79       9b+
80        80    9b+/9c
81        81        9c
82        82      9c/+
83        83       9c+
84        84   9c+/10a

In [30]:
gr.conversion_table.to_csv('../data/grades_conversion_table.csv')